<h1>Landing page</h1>

<div class="hero-image-div">
  <%= link_to (image_tag "hero-image-sneakers", alt: "hero-image-sneakers", class: "hero-image-landing-page"), sneakers_path %>
  <%= link_to (image_tag "hero-image-apparels", alt: "hero-image-apparels", class: "hero-image-landing-page"), apparels_path %>
</div>