<div class="row" style="margin: 50px 0 0 0;">
  <div class="col">
    <h3 class ="inline-text">Shop Sneaker</h3>
    <%= link_to (image_tag "hero-image-sneakers", alt: "hero-image-sneakers",  class: 'img-fluid', width: '100%'), sneakers_path %>
  </div>
  <div class="col">
    <h3 class ="inline-text">Shop Apparel</h3>
    <%= link_to (image_tag "hero-image-apparels", alt: "hero-image-apparels",  class: 'img-fluid', width: '100%'), apparels_path %>
  </div>
</div>