<div class="row">
  <div class="col">
    <p class ="inline-text">Shop Sneaker</p>
    <%= link_to (image_tag "hero-image-sneakers", alt: "hero-image-sneakers",  class: 'img-fluid', width: '100%'), sneakers_path %>
  </div>
  <div class="col">
    <p class ="inline-text">Shop Apparel</p>
    <%= link_to (image_tag "hero-image-apparels", alt: "hero-image-apparels",  class: 'img-fluid', width: '100%'), apparels_path %>
  </div>
</div>