@import 'bootstrap/dist/css/bootstrap';
@import 'global/reset-page';

.inline-text {
  position: absolute;
  padding: 20px;
}

.index-page-div  {
  padding: 40px;
}

.row d-flex flex-row-reverse {
  padding: 20px;
}