@import 'bootstrap/dist/css/bootstrap';
@import 'global/reset-page';

.inline-text {
  position: absolute;
  padding: 20px;
}

.header-for-page-div  {
  padding: 40px;
}

.user-profile-picture {
  width: 100%; 
  border-radius: 20px;
}

.user-page-div  {
  padding: 40px;
}